



.texto1{
  
text-align: center;
font-size: larger;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.cabecalho
{
    height: 100px;
    background-color: rgb(255, 76, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
 
.logo{
    width:100px;
    display: flex;
   height: 100px;

}



.formulario{
    display: flex;
   justify-content: center;
 
   font-style: Bold;
   padding-left: 21%;
   
   background-image: url("img/burgao2222.jpg");

   background-size:100% ;
   font-size: large     ;
}

input{
   border-radius: 5px;
   
}

@media screen and (min-width:293) and  (max-width:749px) {

}